.main {
    margin-left: 3%;
    height: 560px;
    padding: 2%;
}

.main .graphics {
    background: #22242a;
    width: 49%;
    height: 100%;
    float: left;
    margin-right: 2%;
    padding: 10px;
    text-align: center;
}

.graphics h1 {
    color: #ccc;
}

.main .list {
    background: #22242a;
    width: 49%;
    height: 100%;
    float: left;
    padding: 10px;
    text-align: center;
}

.list h1 {
    color: #ccc;
}

.list .table thead {
    color: #2199e8;
}

.list .table tbody {
    color: #ccc;
}

.list pagination-controls {
    color: #ccc;
}