.avatar {
    text-align: center;
}

.sidebar h4 {
    cursor: pointer;
}

.avatar .icon {
    margin-left: -2px;
    font-size: 17px;
    color: #2199e8;
}

header {
    position: fixed;
    background: #22242a;
    padding: 5px;
    padding-left: 18px;
    width: 100%;
    height: 70px;
}

.left_area h3 {
    color: #ccc;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #2199e8;
}

.logout_btn {
    padding: 5px;
    background: transparent;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #2199e8;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover {
    background: #2199e8;
    color: #ccc;
}

.sidebar {
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #ccc;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
}

.sidebar .menuSelected {
    color: #2199e8;
}

.sidebar span {
    position: absolute;
    margin-top: -6px;
    margin-left: 10px;
}

.sidebar a:hover {
    background: #2199e8;
    color: #dcc;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar__btn {
    z-index: 1;
    color: #dcc;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 9px 0;
    transition: 0.5s;
    transition-property: color;
    margin-left: -69px;
}

label #sidebar__btn:hover {
    color: #2199e8;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content {
    margin-left: 217px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    padding-top: 71px;
}

#check:checked~.content {
    margin-left: 20px;
}

#check {
    display: none;
}

.modal-header {
    background: #22242a;
    color: #2199e8;
    padding-left: 40%;
}

.modal-header button {
    background: red;
    border: none;
    color: #ccc;
    margin-top: -15px;
    outline: 0px;
    border-radius: 3px;
    font-size: 18px;
}

.modal-body {
    background: #22242a;
    padding: 30px;
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ccc;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #2199e8;
    background: transparent;
    outline: none;
    height: 25px;
    color: #ccc;
    font-size: 16px;
}

.loginBox span {
    color: red;
    float: left;
    margin-top: -20px;
    font-size: 14px;
}

.modal-footer {
    background: #22242a;
}

.modal-footer button {
    background: #2199e8;
    border: none;
    color: #fff;
    outline: 0px;
    border-radius: 3px;
}