<!-- LOGIN -->
<div *ngIf="login" class="loginBox">
    <img src="../../../assets/Img/user-icon-2.png" class="user">

    <h2>Log In Here</h2>

    <form [formGroup]="loginForm" (ngSubmit)="loginIn()">
        <p>Email</p>
        <input type="text" formControlName="email">
        <span *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">E-mail é obrigatório. </span>

        <p>Senha</p>
        <input type="password" formControlName="password">

        <input type="submit" [disabled]='loginForm.invalid' value="Acessar">

        <a (click)="loginStatus(0)">Criar conta</a>
    </form>

    <div *ngIf="loading" class="spinner spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

</div>

<!-- CADASTRO -->
<div *ngIf="!login" class="loginBox">
    <img src="../../../assets/Img/user-icon-2.png" class="user">

    <h2>Log In Here</h2>

    <form action="">
        <p>Nome</p>
        <input type="text">

        <p>Email</p>
        <input type="text">

        <p>CPF</p>
        <input type="text">

        <p>Senha</p>
        <input type="text">

        <input type="submit" value="Criar conta">

        <a (click)="loginStatus(1)">Voltar</a>
    </form>
</div>