        .main {
            margin-left: 3%;
            height: 560px;
            padding: 2%;
        }
        
        .main .list {
            background: #22242a;
            width: 100%;
            height: 100%;
            float: left;
            margin-right: 2%;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
        }
        
        .list h1 {
            color: #ccc;
        }
        
        .list .search .row {
            margin-left: 37%;
        }
        
        .search button {
            background: #2199e8;
            border-radius: 60%;
            margin-left: 10px;
        }
        
        .search input {
            border: none;
            border-bottom: 2px solid #2199e8;
            background: transparent;
            outline: 0px;
            height: 35px;
            color: #ccc;
            font-size: 16px;
        }
        
        .list .friendList {
            /* background: red; */
            width: 70%;
            margin-left: 17%;
            height: 78%;
            border-radius: 4px;
            overflow: auto;
        }
        
        .list .card {
            width: 99%;
            margin-bottom: 10px;
            background: #22242a;
            border: 1px solid #2199e8;
            color: #ccc;
        }
        
        .list .card .card-header {
            background: #2199e8;
            font-size: 20px;
        }
        
        .list .card .card-body a {
            outline: none;
            border: none;
            margin-left: 10px;
            border-radius: 22px;
        }
        
        .list .card .card-body .icon {
            font-size: 15px;
        }
        
        .modal-header {
            background: #22242a;
            color: #2199e8;
            padding-left: 40%;
        }
        
        .modal-header button {
            background: red;
            border: none;
            color: #ccc;
            margin-top: -15px;
            outline: 0px;
            border-radius: 3px;
            font-size: 18px;
        }
        
        .modal-body {
            background: #22242a;
            padding: 30px;
        }
        
        .loginBox p {
            margin: 0;
            padding: 0;
            font-weight: bold;
            color: #ccc;
        }
        
        .loginBox input {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .loginBox input[type="text"],
        .loginBox input[type="password"] {
            border: none;
            border-bottom: 1px solid #2199e8;
            background: transparent;
            outline: none;
            height: 25px;
            color: #ccc;
            font-size: 16px;
        }
        
        .loginBox span {
            color: red;
            float: left;
            margin-top: -20px;
            font-size: 14px;
        }
        
        .modal-footer {
            background: #22242a;
        }
        
        .modal-footer button {
            background: #2199e8;
            border: none;
            color: #fff;
            outline: 0px;
            border-radius: 3px;
        }
        
        .list .card .card-body .delete:hover {
            background: red;
        }
        
         ::-webkit-scrollbar {
            width: 5px;
        }
        
         ::-webkit-scrollbar-track {
            background: #22242a;
        }
        
         ::-webkit-scrollbar-thumb {
            background: #2199e8;
        }
        
        .btnEXit {
            width: 100%;
            text-align: center;
        }
        
        .btnEXit button {
            margin-left: 10px;
        }