<div class="main">
    <div class="list">
        <h1>Lista</h1>

        <div class="search">
            <div class="row g-2">
                <div class="col-auto">
                    <label class="visually-hidden">Password</label>
                    <input type="text" class="form-control" placeholder="Buscar amigo" [(ngModel)]="filterPost" #dataSearch>
                </div>
                <div class="col-auto">
                    <!-- <button type="submit" class="btn btn-primary mb-3"><span class="material-icons">person_search</span></button> -->
                    <button (click)="triggerModal(modalEditUser)" class="btn btn-primary mb-3"><span
                            class="material-icons">person_add</span></button>
                </div>
            </div>
        </div>

        <div class="friendList">
            <div class="card" *ngFor="let friend of friends.value.resFriend | filter:filterPost">
                <h5 class="card-header">{{friend.name}}</h5>
                <div class="card-body">
                    <p class="card-title">
                        <sub><span class="icon material-icons">call</span></sub>({{friend.ddd}}) {{friend.phone}}&nbsp;&nbsp;
                        <sub><span class="icon material-icons">mail_outline</span></sub> {{friend.email}}
                    </p>
                    <p class="card-text"> <sub><span
                                class="icon material-icons">location_on</span></sub>{{friend.adress}}</p>

                    <a (click)="edit(friend, modalEdit)" class="btn btn-primary"><span class="material-icons">edit</span></a>
                    <a (click)="delete(friend, modalExit)" class="btn delete btn-primary"><span class="material-icons">delete_outline</span></a>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #modalEditUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adicionar Novo Amigo</h4>
        <button (click)="modal.dismiss('Cross click')" type="button">x</button>
    </div>

    <form [formGroup]="createFriend" (ngSubmit)="create()">
        <div class="modal-body">
            <div class="loginBox">
                <p>Nome</p>
                <input type="text" formControlName="name">
                <span *ngIf="createFriend.controls.name.invalid && createFriend.controls.name.touched">Este campo é
                    obrigatório.</span>

                <p>Email</p>
                <input type="text" formControlName="email">
                <span *ngIf="createFriend.controls.email.invalid && createFriend.controls.email.touched">Este campo é
                    obrigatório.</span>

                <p>DDD</p>
                <input type="text" formControlName="ddd">
                <span *ngIf="createFriend.controls.ddd.invalid && createFriend.controls.ddd.touched">Este campo é
                    obrigatório.</span>

                <p>Telefone</p>
                <input type="text" formControlName="phone">
                <span *ngIf="createFriend.controls.phone.invalid && createFriend.controls.phone.touched">Este campo é
                    obrigatório.</span>

                <p>Endereço</p>
                <input type="text" formControlName="adress">
                <span *ngIf="createFriend.controls.adress.invalid && createFriend.controls.adress.touched">Este campo é
                    obrigatório.</span>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" [disabled]='createFriend.invalid'>Salvar</button>
        </div>
    </form>
</ng-template>

<ng-template #modalEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar</h4>
        <button (click)="modal.dismiss('Cross click')" type="button">x</button>
    </div>

    <form [formGroup]="editFriend" (ngSubmit)="confirmEdit()">
        <div class="modal-body">
            <div class="loginBox">
                <p>Nome</p>
                <input type="text" formControlName="name">
                <span *ngIf="editFriend.controls.name.invalid && editFriend.controls.name.touched">Este campo é
                    obrigatório.</span>

                <p>Email</p>
                <input type="text" formControlName="email">
                <span *ngIf="editFriend.controls.email.invalid && editFriend.controls.email.touched">Este campo é
                    obrigatório.</span>

                <p>DDD</p>
                <input type="text" formControlName="ddd">
                <span *ngIf="editFriend.controls.ddd.invalid && editFriend.controls.ddd.touched">Este campo é
                    obrigatório.</span>

                <p>Telefone</p>
                <input type="text" formControlName="phone">
                <span *ngIf="editFriend.controls.phone.invalid && editFriend.controls.phone.touched">Este campo é
                    obrigatório.</span>

                <p>Endereço</p>
                <input type="text" formControlName="adress">
                <span *ngIf="editFriend.controls.adress.invalid && editFriend.controls.adress.touched">Este campo é
                    obrigatório.</span>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" [disabled]='editFriend.invalid'>Salvar</button>
        </div>
    </form>
</ng-template>



<ng-template #modalExit let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Atenção</h4>
        <button (click)="modal.dismiss('Cross click')" type="button">x</button>
    </div>

    <div class="modal-body">
        <div class="loginBox" style="text-align: center;">
            <p>Deseja realmente excluir {{friendData.name}}?</p>
        </div>
    </div>

    <div class="modal-footer">
        <div class="btnEXit">
            <button (click)="confirmDelete()">Sim</button>
            <button (click)="modal.dismiss('Cross click')">Não</button>
        </div>
    </div>
</ng-template>